.popup {
    display: none;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
}

.popup::before {
    content: "";
    background-color: #000000;
    opacity: .5;
    position: fixed;
    inset: 0;
}